<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>323511936605-p8jct3i27e8skok9ar541dr7jf1ehtam.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.323511936605-p8jct3i27e8skok9ar541dr7jf1ehtam</string>
	<key>API_KEY</key>
	<string>AIzaSyCwFy8_FrASD3of00PUKnV2nYwTIWtFFHo</string>
	<key>GCM_SENDER_ID</key>
	<string>323511936605</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.testflutter</string>
	<key>PROJECT_ID</key>
	<string>fir-new-2b4c7</string>
	<key>STORAGE_BUCKET</key>
	<string>fir-new-2b4c7.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:323511936605:ios:f848c0f8989eca7850cfb4</string>
</dict>
</plist>